<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row mt-5">
        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h1 class="card-title">
                    <span>
                      <%= post.title %>
                    </span> 
                </h1>
                  <p class="card-text"> Title: <%= post.title %> </p>
                  <p class="card-text"> Pattern:<%= post.content %> </p>
                  <p class="card-text">Comments: <%= post.comments%> </p>
                  <p class="card-text"> Tag: <%= post.tag %> </p>
                  <a href="/posts/<%= post._id %>" class="btn btn-primary">View Post</a>
                  <a href="/posts/<%= post._id %>/edit" class="btn btn-primary">Edit Post</a>
                  <form action = "/posts/<%= post._id %>/delete?_method=DELETE" method="POST">
                    <button class = "btn btn-primary">Delete Post</button>
                  </form>
                  </div>
            </div>
        </div>
    
</div>