<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<br><br><br>
<div class="row">
        <div class="col-lg-4 product-card">
            <div class="card text-center shadow mt-3 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h1 class="card-title">
                    <span>
                      <%= shirt.fabric %>
                    </span> 
                </h1>
                  <p class="card-text"> Size: <%= shirt.size %> </p>
                  <p class="card-text"> Pattern:<%= shirt.pattern %> </p>
                  <p class="card-text">Colour: <%= shirt.shirtColor%> </p>
                  <p class="card-text"> Price: <%= shirt.price %> </p>
                  <a href="/shirts/<%= shirt._id %>" class="btn btn-primary">View Shirt</a>
                  <a href="/shirts/<%= shirt._id %>/edit" class="btn btn-primary">Edit Shirt</a>
                  <form action = "/shirts/<%= shirt._id %>/delete?_method=DELETE" method="POST">
                    <button class = "btn btn-primary">Delete Shirt</button>
                  </form>
                  </div>
            </div>
        </div>
</div>